<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JavaExam22September2014-morning/src/_03_WeirdStrings.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="_03_WeirdStrings"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JavaExam22September2014-morning"/>
</launchConfiguration>
