<div class="image-container" id="userProfileImage">
    <img class="thumbnail" />
</div>
<div class="summary-container" id="userSummary">
    <h2>Hello, Name!</h2>
</div>
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="#/">Home</a></li>
            <li><a href="#/Edit">Edit profile</a></li>
            <li><a href="#/Post">Post</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li><a class="navbar-brand" id="usernamePreview"><u>Username</u></a></li>
            <li><a href="#/Logout">Logout</a></li>
        </ul>
    </div>
</nav>