<form>
    <input type="text" value="" placeholder="Title" ng-model="title" ng-required="true" /><br />
    <input type="text" value="" placeholder="Picture URL" ng-model="picture" ng-required="true" /><br />
    <input type="text" value="" placeholder="Length" ng-model="length" ng-required="true" /><br />
    <input type="text" value="" placeholder="Category" ng-model="category" ng-required="true" /><br />
    Has subtitles? <input type="checkbox" value="" ng-model="subtitles" /><br />
    <button ng-click="addVideo()">Add Video</button>
</form>