<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDistanceCalculator" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2066/DistanceCalculator.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDistanceCalculator"
                contract="DistanceCalculator.IDistanceCalculator" name="BasicHttpBinding_IDistanceCalculator" />
        </client>
    </system.serviceModel>
</configuration>