USE [master]
GO
/****** Object:  Database [School]    Script Date: 21/06/2015 12:09:19 PM ******/
CREATE DATABASE [School]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'School', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\School.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'School_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\School_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [School].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [School]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 21/06/2015 12:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[ClassID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[MaxStudents] [int] NULL,
 CONSTRAINT [PK_Classes] PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Students]    Script Date: 21/06/2015 12:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[PhoneNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StudentsClasses]    Script Date: 21/06/2015 12:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentsClasses](
	[StudentID] [int] NOT NULL,
	[ClassID] [int] NOT NULL,
 CONSTRAINT [PK_StudentsClasses] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC,
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([ClassID], [Name], [MaxStudents]) VALUES (1, N'11b', NULL)
INSERT [dbo].[Classes] ([ClassID], [Name], [MaxStudents]) VALUES (2, N'10c', NULL)
INSERT [dbo].[Classes] ([ClassID], [Name], [MaxStudents]) VALUES (3, N'8b', 30)
SET IDENTITY_INSERT [dbo].[Classes] OFF
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentID], [Name], [Age], [PhoneNumber]) VALUES (1, N'Gosho', 17, NULL)
INSERT [dbo].[Students] ([StudentID], [Name], [Age], [PhoneNumber]) VALUES (2, N'Pesho', 15, NULL)
INSERT [dbo].[Students] ([StudentID], [Name], [Age], [PhoneNumber]) VALUES (3, N'Toshko', 16, N'089444444')
SET IDENTITY_INSERT [dbo].[Students] OFF
INSERT [dbo].[StudentsClasses] ([StudentID], [ClassID]) VALUES (1, 1)
INSERT [dbo].[StudentsClasses] ([StudentID], [ClassID]) VALUES (1, 3)
INSERT [dbo].[StudentsClasses] ([StudentID], [ClassID]) VALUES (2, 2)
ALTER TABLE [dbo].[StudentsClasses]  WITH CHECK ADD  CONSTRAINT [FK_StudentsClasses_Classes] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([ClassID])
GO
ALTER TABLE [dbo].[StudentsClasses] CHECK CONSTRAINT [FK_StudentsClasses_Classes]
GO
ALTER TABLE [dbo].[StudentsClasses]  WITH CHECK ADD  CONSTRAINT [FK_StudentsClasses_Students] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[StudentsClasses] CHECK CONSTRAINT [FK_StudentsClasses_Students]
GO
USE [master]
GO
